<div class="header">
<%= link_to root_path do %>
  <%# <i class="fa-solid fa-arrow-left-long"></i> %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M109.3 288L480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288z"/></svg>
<% end %>

<p>REGISTER</p>
</div>


<h2 class="h22">SIGN UP</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "field" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "fiels" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "devise--1" %>
  </div>
<% end %>

<% render "devise/shared/links" %>
