<p style="color: green"><%= notice %></p>
 
<%= link_to 'Back', budget_categories_path %>

<h1>Transactions</h1>

<p> Transactions Total: <%= @total %> <p/>
<div id="expenses">
  <%= render  @expenses %>
</div>
<%= link_to "Add New Transaction", new_budget_category_expense_path %>
