<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice%> </p>
    <p class="alert"><%= alert%> </p>
    <% if user_signed_in? %>
    <header>
      <p>Welcome,<b> <%= current_user.name %></b></p>
      <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
    </header>
    <% end %>
    <%= yield %>
  </body>
</html>
