<!DOCTYPE html>
<html>
  <head>
</nav>
  
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/f0e9415ee2.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <% if current_page?(budget_categories_path ) %>
    <%= render 'layouts/header' %>
<% else %>
    <%= render 'layouts/home_header' %>
<% end %>




    <%= yield %>
  </body>
</html>
